services:
  traefik:
    image: traefik:latest # pulls the latest traefik version
    container_name: traefik
		restart: always
		command:
      - "--configfile=/etc/traefik/traefik.yml" # config file for trafik
		environment:
		  DOCKER_API_VERSION: "1.52" # Latest version, switch to 1.46 if unstable
		ports:
      - "80:80"
      - "8080:8080" # Dashboard
		volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/traefik:/etc/traefik.ro
      - /var/log/traefik:/var/log/traefik
		networks:
      - proxy

whoami:
  image: traefik/whoami:latest
	container_name: whoami
	restart: unless-stopped
	networks:
      - proxy
	labels: 
      - "traefik.enable=true"
      - 'traefik.http.routers.whoami.rule=Host("whoami.local")'
      - "traefik.http.routers.whoami.entrypoints=web"
	  - "traefik.http.services.whoami.loadbalancer.server.port=80"

searxng:
  image: searxng/searxng:latest
	container_name: searxng
	restart: unless-stopped
	volumes:
  		- searxng_data:/etc/searxng
	environment:
	  	- SEARXNG_BASE_URL=http://searx.local/
  networks:
      - proxy
  labels:
      - "traefik.enable=true"
      - 'traefik.http.routers.searx.rule=Host("searx.local")'
      - "traefik.http.routers.searx.entrypoints=web"
networks:
  proxy:
    external: true

volumes:
  searxng_data:
